<div class="container3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <input id="inputhomework" placeholder="Search subject here" />
      <button id="btn3">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-6">
      <!--card-->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Subject</mat-card-title>
          <mat-card-subtitle>Teacher name</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Note:The Shiba Inu is the smallest of the six original and distinct
            spitz breeds of dog from Japan. A small, agile dog that cop
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p id="given">01/05/2021</p>
          <p id="end">01/05/2021</p>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-3 col-6">
      <!--card-->
      <mat-card>
        <mat-card-header>
          <mat-card-title>Subject</mat-card-title>
          <mat-card-subtitle>Teacher name</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            Note:The Shiba Inu is the smallest of the six original and distinct
            spitz breeds of dog from Japan. A small, agile dog that cop
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p id="given">01/05/2021</p>
          <p id="end">01/05/2021</p>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
